In [1]:
import pandas as pd

In [2]:
data = [
    ["时间", "数量", "金额", "成本", "税率"],
    ["2020/1/1", 44, 48, 28, 0.01],
    ["2020/1/1", 96, 15, 36, 0.03],
    ["2020/2/1", 36, 84, 45, 0.09],
    ["2020/2/1", 99, 65, 70, 0.09],
    ["2020/3/1", 65, 15, 35, 0.16],
    ["2020/3/1", 11, 32, 18, 0.13],
    ["2020/4/1", 69, 94, 48, 0.13],
    ["2020/4/1", 100, 64, 61, 0.13],
    ["2020/5/1", 80, 86, 53, 0.03],
    ["2020/5/1", 84, 75, 59, 0.16],
    ["2020/6/1", 27, 51, 89, 0.16],
    ["2020/6/1", 47, 83, 91, 0.16],
]

In [3]:
# 创建 DataFrame
df = pd.DataFrame(data[1:], columns=data[0])

In [4]:
df

          时间   数量  金额  成本    税率
0   2020/1/1   44  48  28  0.01
1   2020/1/1   96  15  36  0.03
2   2020/2/1   36  84  45  0.09
3   2020/2/1   99  65  70  0.09
4   2020/3/1   65  15  35  0.16
5   2020/3/1   11  32  18  0.13
6   2020/4/1   69  94  48  0.13
7   2020/4/1  100  64  61  0.13
8   2020/5/1   80  86  53  0.03
9   2020/5/1   84  75  59  0.16
10  2020/6/1   27  51  89  0.16
11  2020/6/1   47  83  91  0.16

In [5]:
# 使用 pivot_table 方法将 '税率' 设为列索引，'时间' 设为行索引
pivot_df = df.pivot_table(values=['数量', '金额', '成本'], index='时间', columns='税率', aggfunc='sum', fill_value='').reset_index()

In [6]:
pivot_df.sort_index(axis=1, level=1).set_index('时间')

,成本,数量,金额,成本,数量,金额,成本,数量,金额,成本,数量,金额,成本,数量,金额
税率,0.01,0.01,0.01,0.03,0.03,0.03,0.09,0.09,0.09,0.13,0.13,0.13,0.16,0.16,0.16
时间,,,,,,,,,,,,,,,
2020/1/1,28.0,44.0,48.0,36.0,96.0,15.0,,,,,,,,,
2020/2/1,,,,,,,115.0,135.0,149.0,,,,,,
2020/3/1,,,,,,,,,,18.0,11.0,32.0,35.0,65.0,15.0
2020/4/1,,,,,,,,,,109.0,169.0,158.0,,,
2020/5/1,,,,53.0,80.0,86.0,,,,,,,59.0,84.0,75.0
2020/6/1,,,,,,,,,,,,,180.0,74.0,134.0